
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    
}
h1{
    color: white;
    
}
nav{
    background-color: rgb(74, 72, 72);
    text-align: center;
    margin-top: 10px;
    padding:20px ;
    font-size: 20px;
}
section{
    background-color: rgb(153, 149, 149);
    margin-top: 10px;
    padding:130px ;
    text-align:center;
    font-size: 40px;
}
footer{
    background-color: rgb(51, 47, 47);
    margin-top: 10px;
    padding:20px ;
    text-align:center;
    font-size: 20px;
}
