*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkgrey;
}
h1{
    text-align: center;
}
nav{
    background-color: crimson;
    width: 100%;
}
.navigationli{
    display: inline-block;
    margin-left: 30px;
    font-family: fantasy;
}
.main{
    width: 90%;
    margin: 0 auto;
}
.navigationul{
    padding: 25px;
    display: inline-block;
    width: 72%;
}
.submit{
    background-color: black;
    color: white;
}
.child{
    display: inline-block;
    background-color: crimson;
    padding: 25px;
    width: 17%;
}
.maincontent{
    width: 78%;
    background-color: white;
    margin-top: 10px;
    display: inline-block;
    padding: 20px;
}
.sidebar{
    background-color: crimson;
    display: inline-block;
    width: 17%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 87px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 5px;

}
.relatedul{
    padding-left: 30px;
}
.relatedli{
    padding-bottom: 5px;
    padding-top: 15px;
}
footer{
    background-color: white;
    margin-top: 20px;
    padding: 25px;
    font-family: monospace;
}