.child{
    background-color: black;
    color: white;
    border: 2px solid white;
}
@media(min-width:575px) {
    .child {
      background-color: red;
      width: 100%;
      border: 2px solid black;
    }
  }
  @media(min-width:767px) {
    .child {
      background-color: green;
      width: 49%;
      display: inline-block;
    }
  }
  @media(min-width:991px) {
    .child {
      background-color: blue;
      width: 32%;
    }
  }
  @media(min-width:1200px) {
    .child {
      background-color: pink;
      width: 24%;
      display: inline-block;
    }
  }